<%
// console.log(item);
if (item.hasOwnProperty("spineorder")) { %>
<li><a href="<%= item.href %>"><%= akashacms.plugin('akashacms-epub').titleForManifestItem(item) %></a><%
// console.log(subtoc);
if (subtoc) {
    %><%- partial("toc-epub3-toc.html.ejs", { toc: subtoc }) %><%
}
%></li><% } %>
