<%
// console.log(item);
%><li><a href="<%= item.href %>"><%= item.title %></a><%
// console.log(subchapters);
if (subchapters) {
    %>
    <%- partial("toc-epub3-toc.html.ejs", { chapters: subchapters }) %>
    <%
}
%></li>
